body {
  /*	margin-left: .5em;
	margin-right: 5.0em;*/
  font-family: 'Open Sans'; }

h5 {
  display: inline; }

span {
  font-size: 0.83em;
  color: #646464; }

#lovejobspan {
  color: black;
  font-weight: bold;
  margin-right: 1em;
  display: flex;
  align-items: center; }

input[type='range'] {
  height: 50px; }

input {
  width: 300px; }

.row.titleRow {
  background-color: lightgray;
  font-size: 1.25em; }

header {
  position: fixed;
  top: 0px;
  min-width: 100%;
  background-color: blue;
  padding: 16px; }

form {
  margin: 16px auto;
  max-width: 400px;
  padding: 16px;
  border-radius: 2px;
  /*  box-shadow: 3px 1.5px 1px #888888;*/
  border: 1px solid #ddd; }

.main {
  padding-top: 60px;
  /*  width: 100%;*/ }

header > span {
  color: white;
  font-size: 1.5em; }

nav a {
  color: white;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  padding-left: 20px; }

nav a:hover {
  color: white;
  text-decoration: none; }

header {
  flex-direction: row;
  display: flex;
  justify-content: space-between; }

nav {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  margin-right: 4%;
  font-size: .8em; }

figure {
  width: 90%;
  margin: 0px auto; }

figure img {
  width: 100%; }

/*#logInLink {
    margin-right: 20px;
}*/
#loveJobInput {
  width: 70%; }

#loveJobContainer {
  display: flex;
  flex-direction: row; }

#loveJobContainer span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px; }

#loveJobContainer span b {
  border: 1px solid;
  border-radius: 50%;
  padding: 5px;
  width: 28px;
  text-align: center; }

.card .eventName, .card .message {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.card .header {
  font-weight: bold; }

.card .eventName {
  font-size: 1.4em; }

.card .message {
  color: blue;
  font-style: italic; }

#eventsPage .card {
  width: 300px;
  border-radius: 10%;
  border: 1px solid;
  box-shadow: 5px 5px 2px #888888;
  margin: 30px auto 0px; }

.card span {
  padding-left: 10px; }

.card li {
  font-size: 0.83em; }

.card .location {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center; }

#eventsPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

@media (max-width: 425px) {
  header > span {
    display: none; }
  nav {
    max-width: 273px;
    margin: 0 auto;
    padding-right: 0px; }
  header {
    right: 0px; } }
