$optionalColor: #646464;

body {
	margin-left: .5em;
	margin-right: 5.0em;
}

h1 {
  color: blue; }

h5 {
  display: inline; }

span {
  font-size: 0.83em;
  color: $optionalColor; 

}

#lovejobspan{

	color:black;
	font-weight: bold;

	margin-right: 1em;
	display: flex;
	align-items: center;

}

input[type='range']{
	height:50px;
}

input{
	width:300px;
}

.row.titleRow {
	background-color: lightgray;
	font-size:1.25em;
}

#eventTitleRow {
	font-size:2em;
}

